.herb-picture {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
}

.herb-title {
  margin-top: 10px;
  font-weight: bolder;
}

.herb {
  flex-basis: calc(50% - 30px);
  margin: 15px;
}